---
layout: layout.njk
pagination:
  data: "sites"
  size: 1
  alias: vertical
permalink: "/{{ (sites[vertical].name or vertical) | slug }}/"
---
<div class="leaderboard-wrapper">
	<table class="leaderboard">
		<thead>
			<tr>
				<th>Rank</th>
				<th class="leaderboard-hide-md">Trophy</th>
				<th>URL</th>
				<th class="leaderboard-hide-md">Built With</th>
				<th class="leaderboard-hide-md">Hosted By</th>
				<th class="leaderboard-score">Lighthouse</th>
				<th data-sr-only class="leaderboard-hide-md">History</th>
			</tr>
		</thead>
		<tbody>
		{%- for site in results | getSites(sites, vertical, isolatedKeys) | sortCumulativeScore | addSkippedIndeces(sites[vertical].skipIndeces) %}
			{%- if not site %}
			{%- else %}
				{%- set newestKey = site | getObjectKey(":newest") %}
				{%- set key = site | getObjectKey %}
				{%- set hundos = 0 %}

				{%- if not site[newestKey].error %}
					{%- set hundos = site[newestKey] | hundoCount %}
				{%- endif %}

				{%- set sitePageUrl %}/{{ (sites[vertical].name or vertical) | slug }}/{{ site[newestKey].url | displayUrl | slugify }}/{% endset %}

				{%- if hundos === 4 %}
				<tr class="leaderboard-list-entry{% if hundos === 4 and site[newestKey].ranks and loop.index != site[newestKey].ranks.cumulative %} leaderboard-list-entry-badrank{% endif %}" id="site-{{ site[key].url | shortHash }}" data-rank="{{ site[newestKey].ranks.cumulative }}">
					<td class="leaderboard-number">
						{% if hundos === 4 %}<span>#</span>{{ loop.index }}{% endif %}
					</td>
					<td class="leaderboard-hide-md leaderboard-trophies">{% if hundos === 4 %}🏆{% endif %}{% if loop.index0 === 0 %}🥇{% elseif loop.index0 === 1 %}🥈{% elseif loop.index0 === 2 %}🥉{% endif %}</td>
					{%- set hasRedirect = site[newestKey].requestedUrl and site[newestKey].url != site[newestKey].requestedUrl %}
					<td class="leaderboard-url"><a href="{{ sitePageUrl }}">
							<img src="https://v1.indieweb-avatar.11ty.dev/{{ site[newestKey].url | urlencode }}/" width="150" height="150" alt="IndieWeb Avatar for {{ site[newestKey].url | displayUrl }}" class="leaderboard-list-entry-thumbnail" loading="lazy" decoding="async">
							<code class="url">{{ site[newestKey].url | displayUrl(hasRedirect) }}</code>{#
						#}</a>
						{%- if site | isNewSite %}<span class="leaderboard-sidequest">New</span>{% endif %}
						{%- if site[newestKey].sidequests['-weight.total'] <= 3 %}<span class="leaderboard-sidequest" title="Least Total Page Weight">⬇ Weight {{ site[newestKey].sidequests['-weight.total'] | medalRank }}</span>{% endif -%}
						{%- if site[newestKey].sidequests['-weight.script'] <= 3 %}<span class="leaderboard-sidequest" title="Least Total JavaScript Weight">⬇ JS {{ site[newestKey].sidequests['-weight.script'] | medalRank }}</span>{% endif -%}
						{# {%- if site[newestKey].sidequests['+weight.image'] <= 3 %}<span class="leaderboard-sidequest" title="Most Image Weight">⬆ IMG {{ site[newestKey].sidequests['+weight.image'] | medalRank }}</span>{% endif -%} #}
						{%- if site[newestKey].sidequests['+weight.fontCount'] <= 3 %}<span class="leaderboard-sidequest" title="Most Web Fonts (by file count)">⬆ Web Fonts {{ site[newestKey].sidequests['+weight.fontCount'] | medalRank }}</span>{% endif -%}
						{%- if site[newestKey].sidequests['-timeToFirstByte'] <= 3 %}<span class="leaderboard-sidequest" title="Fastest Time to First Byte">⬇ TTFB {{ site[newestKey].sidequests['-timeToFirstByte'] | medalRank }}</span>{% endif -%}
						{# commented out because all of the top sites won {%- if site[newestKey].sidequests['-totalBlockingTime'] <= 3 %}<span class="leaderboard-sidequest" title="Smallest Total Blocking Time">⬇ TBT {{ site[newestKey].sidequests['-totalBlockingTime'] | medalRank }}</span>{% endif -%}#}
						{%- if site[newestKey].sidequests['-largestContentfulPaint'] <= 3 %}<span class="leaderboard-sidequest" title="Smallest Largest Contentful Paint Time">⬇ LCP {{ site[newestKey].sidequests['-largestContentfulPaint'] | medalRank }}</span>{% endif -%}
						{%- if hasRedirect %}<span class="leaderboard-redirect-warn">Redirect from <code class="url">{{ site[newestKey].requestedUrl | displayUrl(true) }}</code></span>{% endif -%}
						{%- if site[newestKey].error %}<span class="leaderboard-redirect-error">Error</span>{% endif -%}
					</td>
					<td class="leaderboard-hide-md">
						<img src="{{ site[newestKey].url | generatorImageUrl }}" width="60" height="60" alt="Generator for {{ site[newestKey].url | displayUrl }}" class="leaderboard-list-entry-thumbnail small" loading="lazy" decoding="async" onerror="this.remove();">
					</td>
					<td class="leaderboard-hide-md">
						<img src="{{ site[newestKey].url | hostingImageUrl }}" width="60" height="60" alt="Web host for {{ site[newestKey].url | displayUrl }}" class="leaderboard-list-entry-thumbnail small" loading="lazy" decoding="async" onerror="this.remove();">
					</td>
				{%- if site[newestKey].error %}
					<td></td>
				{%- else %}
					<td class="leaderboard-score">
						{%- set totalLighthouseScore = site[newestKey] | lighthouseTotal %}
						<is-land on:visible><speedlify-score class="leaderboard-score-circles{% if hundos === 4 %} leaderboard-score-circles-400{% endif %}" raw-data='{{ site[newestKey] | toJSON | safe }}'></speedlify-score></is-land><span class="leaderboard-score-sum leaderboard-number">{{ totalLighthouseScore }}</span>
					</td>
				{%- endif %}
					<td class="leaderboard-hide-md"><a href="{{ sitePageUrl }}" class="speedlify-button">Historical Data</a></td>
				</tr>
			{%- endif %}
			{%- endif %}
		{%- endfor %}
		</tbody>
	</table>
</div><!-- /leaderboard -->