body {
	font-family: system-ui, sans-serif;
	background-color: #2e2e2e;
	color: #fff;
}
footer {
	font-style: italic;
	text-align: center;
}
code {
	font-family: Monaco, monospace;
}

html:not(.js) [data-js-only] {
	display: none !important;
}
[data-sr-only] {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap; /* 1 */
	width: 1px;
}


:link,
:visited {
	color: #fff;
}

summary {
	padding: .25em 0;
}

.url {
	font-size: 1em; /* 20px /16 */
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
}
@media (min-width: 37.5em) { /* 600px */
	.url {
		font-size: 1.25em; /* 20px /16 */
	}
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}
th, td {
	margin: 0;
	padding: .75rem .5rem;
}
th {
	text-align: left;
	color: #ddd;
	font-weight: normal;
}

abbr {
	text-decoration: none;
}

/* Speedlify specific styles */
.speedlify-hed {
	text-align: center;
	font-size: 2em;
	text-transform: lowercase;
	font-style: italic;
}
@media (min-width: 37.5em) { /* 600px */
	.speedlify-hed {
		font-size: 3em;
	}
}
.speedlify-subhed {
	padding: 0 2em;
	margin: 0 auto;
	max-width: 40em;
	text-align: center;
}


/* Leaderboard */

.leaderboard {
	width: 100%;
	margin: 5em 0;
}
.leaderboard-number {
	font-weight: 600;
}
.leaderboard-list {
	width: auto;
	margin-left: auto;
	margin-right: auto;
}
.leaderboard-list-entry {
	border-top: 1px solid #888;
}
.js .leaderboard-list-entry-details:not(.expanded) {
	display: none;
}
.leaderboard-list-entry.expanded,
.leaderboard-list-entry-details.expanded {
	background-color: #181818;
}
.leaderboard-list-entry-details > td {
	padding: 0;
}
.leaderboard caption {
	font-size: 1.5em;
	margin: 0 0 1em;
}
.leaderboard-data-right {
	text-align: right;
}
@media (max-width: 37.4375em) { /* 599px */
	.leaderboard-hide-sm {
		display: none;
	}
}
@media (max-width: 63.9375em) { /* 1023px */
	.leaderboard-hide-md {
		display: none;
	}
}
@media (min-width: 50em) { /* 800px */
	.leaderboard > tbody > tr > td {
		font-size: 1.3125em; /* 21px /16 */
	}
}

[data-expand-alias] {
	display: inline-block;
	text-decoration: none;
	background-color: #444;
	padding: .5em 1em;
	text-align: center;
}
.js .leaderboard-details > summary {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap; /* 1 */
	width: 1px;
}

/* Results table */
.results {
	width: 100%;
}
.results th,
.results td {
	padding: .25em;
}
@media (min-width: 25em) { /* 400px */
	.results th,
	.results td {
		padding-left: .5em;
		padding-right: .5em;
	}
}
.results th {
	color: #fff;
	border: 1px solid #555;
	text-align: center;
}
.results tr:first-child th {
	font-weight: bold;
}
.results td {
	white-space: nowrap;
}
.results-calc {
	text-align: center;
}
.results-bool {
	width: 1ch;
}
.results-bool + td {
	padding-left: 0;
}
.results-date {
	width: 6.25rem; /* 100px /16 */
}
.leaderboard .results th,
.leaderboard .results td {
	font-size: 0.6875em; /* 11px /16 */
}
@media (min-width: 31.25em) { /* 500px */
	.leaderboard .results th,
	.leaderboard .results td {
		font-size: 0.875em; /* 14px /16 */
	}
}
@media (min-width: 50em) { /* 800px */
	.leaderboard .results th,
	.leaderboard .results td {
		font-size: 0.7619047619048em; /* 16px /21 */
	}
}

.count,
.date,
.heart-hundo {
	color: #aaa;
	font-size: 0.8125em; /* 13px /16 */
}
.hundo-emojis {
	letter-spacing: 4px;
}


/* Layout */
.tablewrap {
	width: 100%;
	margin: 0 0 2em;
}
@media (min-width: 87.5em) { /* 1400px */
	.layout {
		display: grid;
		grid-gap: 1em;
		margin-bottom: 2em;
	}
	.js .layout {
		grid-template-columns: repeat(auto-fill, 49%);
	}
}

/* Charts */

.ct-chart.ct-chart {
	margin-bottom: 2em;
}
.ct-line.ct-line {
	stroke-width: 3px;
}
.ct-label.ct-label {
	fill: rgba(255, 255, 255, 0.4);
	color: rgba(255, 255, 255, 0.4);
	white-space: nowrap;
}
.ct-grid.ct-grid {
	stroke: rgba(255, 255, 255, 0.2);
}
/* via https://learnui.design/tools/data-color-picker.html */
:root {
	--speedlify-color-1: #374c80;
	--speedlify-color-2: #7a5195;
	--speedlify-color-3: #bc5090;
	--speedlify-color-4: #ef5675;
	--speedlify-color-5: #ff764a;
	--speedlify-color-6: #ffa600;
}
.color--lighthouse {
	--speedlify-color-1: #004e5f;
	--speedlify-color-2: #006a6c;
	--speedlify-color-3: #00845f;
	--speedlify-color-4: #4f9a3e;
	--speedlify-color-5: #a3a704;
	--speedlify-color-6: #ffa600;
}
.color--weight {
	--speedlify-color-1: #5100ff;
	--speedlify-color-2: #de00c3;
	--speedlify-color-3: #ff0085;
	--speedlify-color-4: #ff004f;
	--speedlify-color-5: #ff6c22;
	--speedlify-color-6: #ffa600;
}
.results-series-a {
	background-color: var(--speedlify-color-1);
}
.ct-series-a.ct-series-a .ct-line {
	stroke: var(--speedlify-color-1);
}
.results-series-b {
	background-color: var(--speedlify-color-2);
}
.ct-series-b.ct-series-b .ct-line {
	stroke: var(--speedlify-color-2);
}
.results-series-c {
	background-color: var(--speedlify-color-3);
}
.ct-series-c.ct-series-c .ct-line {
	stroke: var(--speedlify-color-3);
}
.results-series-d {
	background-color: var(--speedlify-color-4);
}
.ct-series-d.ct-series-d .ct-line {
	stroke: var(--speedlify-color-4);
}
.results-series-e {
	background-color: var(--speedlify-color-5);
}
.ct-series-e.ct-series-e .ct-line {
	stroke: var(--speedlify-color-5);
}
.results-series-f {
	background-color: var(--speedlify-color-6);
}
.ct-series-f.ct-series-f .ct-line {
	stroke: var(--speedlify-color-6);
}
