<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Speedlify</title>
		<meta name="description" content="Benchmark web pages over time.">
		<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon.png">
		<link rel="stylesheet" href="/speedlify/static/style.css">
		<script>
		document.documentElement.classList.add("js");
		</script>
	</head>
	<body>
		<h1 class="speedlify-hed">Eleventy Leaderboards</h1>
		<p class="speedlify-subhed">
			Return to the <a href="/docs/">Eleventy Documentation</a>.
		</p>
		<p class="speedlify-subhed">
			Benchmark {{ sites[vertical].description or "web pages" }} over time.
			{%- if false and maxResults %}
				Only the last {{ maxResults }} result{% if maxResults != 1 %}s{% endif %} (and the oldest result) are shown.
			{% endif %}
			Created by <a href="https://www.zachleat.com/"><img src="https://v1.indieweb-avatar.11ty.dev/{{ "https://www.zachleat.com/" | urlencode }}/" class="leaderboard-list-entry-thumbnail" width="40" height="40" alt="IndieWeb Avatar for zachleat.com" loading="lazy" decoding="async">zachleat</a>.
			<br>
			<a href="https://www.juanfernandes.uk/blog/add-your-site-to-eleventy-leaderboard/">Add your Eleventy site to this list.</a>
			<a href="https://github.com/zachleat/speedlify/#deploy-to-netlify">Deploy your own instance of Speedlify</a>.
		</p>

		{{ content | safe }}

		<footer>
			MIT licensed. Read <a href="https://www.zachleat.com/web/speedlify/">the blog post</a>. Source code on <a href="https://github.com/zachleat/speedlify/">GitHub</a>. Created by <a href="https://www.zachleat.com/">@zachleat</a>.
		</footer>

		<script defer src="/speedlify/static/chartist.js"></script>
		<script defer src="/speedlify/static/script.js"></script>
	</body>
</html>