<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Speedlify</title>
		<meta name="description" content="Benchmark web pages over time.">
		<link rel="stylesheet" href="/style.css">
		<script>
		document.documentElement.classList.add("js");
		</script>
	</head>
	<body>
		<h1 class="speedlify-hed"><a href="/">speedlify</a>{% if vertical %}:{{ vertical }}{% endif %}</h1>
		<p class="speedlify-subhed">
			Benchmark {{ sites[vertical].description or "web pages" }} over time.
			{%- if maxResults %}
				Updates <em>at most</em> once every {{ sites[vertical].options.frequency or 60 }} minutes. Only the last {{ maxResults }} result{% if maxResults != 1 %}s{% endif %} (and the oldest result) are shown.
			{% endif %}
			Created by <a href="https://www.zachleat.com/">@zachleat</a>.
		</p>
		<p class="speedlify-subhed">
			<a href="https://github.com/zachleat/speedlify/#deploy-to-netlify">Deploy your own instance of Speedlify and test your web sites</a>.
		</p>

		{{ content | safe }}

		<footer>
			MIT licensed. Read <a href="https://www.zachleat.com/web/speedlify/">the blog post</a>. Source code on <a href="https://github.com/zachleat/speedlify/">GitHub</a>. Created by <a href="https://www.zachleat.com/">@zachleat</a>.
		</footer>

		<script defer src="/chartist.js"></script>
		<script defer src="/script.js"></script>
	</body>
</html>