---
permalink: /speedlify/static/style.css
---
{% include "../node_modules/chartist/dist/chartist.css" %}
{% include "../node_modules/speedlify-score/speedlify-score.css" %}
{% include "../node_modules/pommel-source/pommel-source.css" %}
{% include "./prism-theme.css" %}
{% include "./style.css" %}